* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

body {
    background-color: #2563EB;
    font-size: 2rem;
}

input {
    transform: scale(1.5);
    margin: 40px;
}

button {
    transform: scale(2);
    margin: 20px;
}

.username {
    margin: 10px;
}

.password {
    margin: 10px;
}

#goback {
    margin-left: 30px;
}